/* HEADER */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root {
    --green-color: #3cb815;
    --light-green-color: #c0eb7b;
    --orange-color: #ff7e00;
    --light-orange-color: #f75f1d;
    --text-color: #1a2428;
    --bg-color: #fff;
    --main-green-color: #005a06;

    /**
   * colors 
   */

  --red-orange-crayola: hsl(0, 100%, 66%);
  --space-cadet: hsl(249, 37%, 19%);
  --pistachio: hsl(88, 50%, 60%);
  --cultured: hsl(220, 13%, 95%);
  --saffron: hsl(45, 91%, 58%);
  --rhythm: hsl(240, 9%, 51%);
  --white: hsl(0, 0%, 100%);

  /**
   * typography 
   */

  --fs-1: 46px;
  --fs-2: 28px;
  --fs-3: 18px;
  --fs-4: 15px;
  --fs-5: 14px;

  /**
   * spacing 
   */

  --px: 30px;
  --py: 60px;

  /**
   * others 
   */

}

html {
    scroll-behavior: smooth;
}


.main-container{
    position: relative;
    max-width: 1440px;
    margin: auto;
    background: var(--white);
    overflow: hidden;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.logo {
    margin: 1rem;
    max-width: 100%;
    max-height: 90px;
}


.primary-header {
    max-height: 90px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 20px 30px;
    background: hsla(0, 0%, 100%, 0.99);
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.05);
    z-index: 5;
}

.mobile-nav-toggle {
    display: none;

}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;

    background: hsl(0 0% 0% / 0.75);
}

@supports (backdrop-filter: blur(1rem)) {
    .primary-navigation {
        background: hsl(0 0% 100% / 0.1);
        backdrop-filter: blur(1rem);
    }
}

.primary-navigation a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: var(--text-color);
    white-space: nowrap;
}

.primary-navigation a:hover, .primary-navigation .home-active {
    background:var(--main-green-color);
    padding: 10px;
    border-radius: 0.5rem;
    color: var(--bg-color);
    transition: background 0.5s;

}

.primary-navigation a > [aria-hidden="true"] {
    font-weight: 700;
}

@media (max-width: 768px) {
    .logo {
        width: 150px;
    }
    
    .primary-navigation {
        --gap: 2em;

        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;

        flex-direction: column;
        padding: min(30vh, 10rem) 2rem;

        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        background-color: transparent;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        border: 0;
        width: 2rem;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
}

@media (min-width: 35rem) and (max-width: 55rem) {
    .primary-navigation a > span[aria-hidden] {
        display: none;
    }
}

@media (min-width: 35em) {
    .primary-navigation {
        --gap: clamp(1.5rem, 5vw, 3rem);
        padding-block: 2rem;
        padding-inline: clamp(3rem, 8vw, 10rem);

    }
}

/* HOME SECTION */
.home-content {
    margin-top: 80px;
}

.container {
    margin-top: 15px;
    position: relative;
    width: 100%;
    min-height: 640px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: url("../assets/background-content.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.container img {
    width: 400px;
    position: absolute;
    right: 0px;
    top: 10px;
}

.home-text {
    padding: 0 150px;
}

.home-text span {
    font-size: 7.3rem;
    font-weight: 400;
    color: var(--main-green-color);
    white-space: nowrap;
}

.home-text h1 {
    font-size: 2.2rem;
    font-weight: 500;
    letter-spacing: 1.104rem;
    color: #000000;
    white-space: nowrap;
}

.home-text p {
    font-size: 1.1rem;
    text-align: justify;
    font-weight: 400;
    line-height: 1.8;
    color: #000000;
    margin: 40px 140px 20px 0;
}

.home-text .btn-book {
    text-decoration: none;
    padding: 10px;
    margin-top: 20px;
    border-radius: 0.5rem;
    background: var(--main-green-color);
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    width: 11.9048rem;
    height: 2.6rem;
    margin-right: 20px;
    white-space: nowrap;
}

.home-text .btn-menu {
    text-decoration: none;
    padding: 10px;
    margin-top: 20px;
    border-radius: 0.5rem;
    background: var(--main-green-color);
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    width: 11.9048rem;
    height: 2.6rem;
    white-space: nowrap;
}

.home-text a:hover {
    background: var(--orange-color);
    transition: 0.2s ease;
}

.swiper-button-next {
    background: url("../assets/right-arrow.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    margin-right: 20px;
}

.swiper-button-next::after {
    display: none;
}

.swiper-button-prev {
    background: url("../assets/left-arrow.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    margin-right: 20px;
}

.swiper-button-prev::after {
    display: none;
}

@media(max-width: 768px) {    
    .container {
        min-height: 480px;
    }

    .home-text {
        padding-left: 10vw;
    }

    .home-text span {
        font-size: 10vw;
        font-weight: 400;
    }
    
    .home-text h1 {
        font-size: 4vw;
    }
    
    .home-text p {
        font-size: 2.2vw;
        text-align: justify;
        font-weight: 400;
        line-height: 1.8;
        margin: 20px 140px 20px 0;
    }
}

@media(max-width: 578px) {
    .container img {
        width: 65vw;
    }

    .container {
        min-height: 400px;

    }
    
    .home-text {
        padding-left: 10vw;
        padding-right: 0;
    }

    .home-text span {
        font-size: 10vw;
        font-weight: 400;
    }
    
    .home-text h1 {
        font-size: 4vw;
        letter-spacing: 3vw;
    }
    
    .home-text p {
        font-size: 2.2vw;
        margin: 10px 0 4vw 0;
        padding-right: 45vw;
    }

    .home-text .btn-book {
        padding: 6px;
        margin-top: 0;
        border-radius: 0.5rem;
        font-size: 3vw;
        border: none;
        cursor: pointer;
        width: 11.9048rem;
        height: 2.6rem;
        margin-right: 5px;
        white-space: nowrap;
    }
    
    .home-text .btn-menu {
        text-decoration: none;
        padding: 6px;
        margin-top: 0;
        border-radius: 0.5rem;
        font-size: 3vw;
        border: none;
        cursor: pointer;
        width: 11.9048rem;
        height: 2.6rem;
        white-space: nowrap;
    }
}

/* POPULAR DISHES */

.section-2  {
    padding-top: 60px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-evenly;
}

.title-dishes{
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    font-family: Righteous;
    line-height: 1.2425;
    text-transform: capitalize;
    color: #005a06;
}

.line {
    margin: auto;
    width: 400px;
    height: 8px;
    background-color: #005a06;
    border-radius: 10px;
    margin-top: 10px;
}

#popular {
    text-align: center;
}

.section-2 {
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    gap: 9px;
}

.section-2 .card {
    width: 250px;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 5px;
    display: inline-block;
}

.section-2 .card img {
    max-width: 100%;
    height: auto;
}

.section-2 .name {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
}

.wait {
    display: flex;
    gap: 20px;
}

.fa-clock {
    font-weight: 400;
    margin-top: 4px;
}

.section-2 .rating{
    color: #f1c40f; 
    font-size: 1.5em;
}


li { list-style: none; }

a {
  font: inherit;
  text-decoration: none;
}


.product-popular { padding: var(--py) var(--px); }

.product-popular .section-title { margin-bottom: 30px; }

.product-popular .section-text { margin-bottom: 60px; }

.products-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  margin-bottom: 50px;
}

.product-card .img-box {
  position: relative;
  overflow: hidden;
}

.product-img {
  width:  100%;
  height: 100%;
  object-fit: cover;
  transition: 0.75s ease;
}

.product-card:hover .product-img { transform: scale(1.05); }

.card-badge {
  position: absolute;
  top:  15px;
  left: 15px;
  display:     flex;
  align-items: center;
  gap: 5px;
  padding: 5px 8px;
  font-size: 14px;
}

.card-badge ion-icon { font-size: 13px; }

.card-badge.green {
  background: var(--pistachio);
  color: var(--space-cadet);
}

.card-badge.red {
  background: var(--red-orange-crayola);
  color: var(--space-cadet);
}

.card-badge.orange {
    background: var(--saffron);
    color: var(--space-cadet);
}

.product-card .wrapper {
  display:         flex;
  justify-content: space-between;
  align-items:     center;
  gap: 15px;
  background: var(--cultured);
  margin-bottom: 15px
}

.product-card .product-name {
  color: var(--space-cadet);
  font-size: var(--fs-3);
  font-weight: 600;
  padding-left: 15px;
}

.product-card .product-price {
  background: var(--light-green-color);
  height: 60px;
  width:  60px;
  display:         flex;
  justify-content: center;
  align-items:     center;
  color: var(--space-cadet);
  font-size: 24px;
  font-weight: 500;
}

.product-card .small {
  font-size: 12px;
  font-weight: 400;
  margin-top: 5px;
}

.product-card .product-text {
  font-size: var(--fs-4);
  color: var(--rhythm);
  line-height: 1.6;
  letter-spacing: 0.4px;
  margin-bottom: 15px;
}

.product-card .product-rating {
  display:     flex;
  align-items: center;
  gap: 5px;
  color: var(--saffron);
}

 .rating{
    color: #f1c40f; 
    font-size: 1.5em;
}

.product-popular .btn-primary { margin-inline: auto; }

@media (min-width: 450) {
    :root {

        /**
         * typography 
         */
    
        --fs-1: 54px;
        --fs-2: 36px;
        --fs-3: 20px;
    
      }
}


@media (min-width: 570px) {

    :root {

        /**
         * spacing 
         */
    
        --mw: 550px;
    
      }

    .product-popular {
        max-width: var(--mw);
        margin-inline: auto;
    }
}

@media (max-width: 768px) {    
    .title-dishes {
        font-size: 8.5vw;
    }
    
    .line {
        width: 60%;
        margin-bottom: 0;
    }

    .section-2 {
        padding-top: 20px;
    }

    .section-2 .card {
        width: 200px;
    }

    .products-grid {
        grid-template-columns: 1fr 1fr;
        gap: 60px 40px;
        margin-bottom: 70px;
      }
}

@media (min-width: 768px) {

    :root {

        /**
         * typography 
         */
    
        --fs-1: 72px;
        --fs-2: 40px;
        --fs-3: 22px;
    
        /**
         * spacing 
         */
    
        --mw: 720px;
    
      }
    

    .products-grid {
        grid-template-columns: 1fr 1fr;
        gap: 60px 40px;
        margin-bottom: 70px;
    }
}

@media (min-width: 1024px) {

    :root {
    
        --py: 100px;
        --mw: 950px;
    
      }

    .products-grid { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 1200px) {

    /**
     * CUSTOM PROPERTY 
     */

    :root {
  
    /**
       * spacing 
       */
    --mw: 1150px;
  
    }
  
  }
  



@media (max-width: 400px) {
    .title-dishes {
        font-size: 200%;
        margin-left: 5px;
        margin-right: 5px;
    }

    .section-2 .card {
        width: 100px;
    }

    .section-2 .name {
        font-size: 1em;
        font-weight: bold;
        margin: 10px 0;
    }
    
    .wait {
        display: flex;
        justify-content: center;
        gap: 9px;
        font-size: 4vw;
    }
    
    .fa-clock {
        font-weight: 400;
        margin-top: 4px;
    }
    
    .section-2 .rating{
        color: #f1c40f; 
        font-size: 4.9vw;
    }
}

/* ABOUT US */
#about-us {
    display: flex;
    align-items: center;
    margin: 20px 0 0 0;
    padding: 20px;
    justify-content: space-evenly;
    background: url("../assets/background-content.jpg");
    background-size: cover;
    background-position: center; 
    color: white;
}

#about-us img {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
}

.about-us-title {
    margin: 0rem 0rem 2rem 0.2rem;
    font-family: Righteous;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.2425;
    text-transform: capitalize;
    color: #005a06;
    flex-shrink: 0;
}

.about-us-content {
    margin: 0 15px 20px 0;
    max-width: 65.8rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    font-family: Poppins, 'Source Sans Pro';
    flex-shrink: 0;
    text-align: justify;     
}

.about-us-btn {
    text-decoration: none;
    width: 12.4933rem;
    height: 3rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    color: #fffefe;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-green-color);
    border-radius: 0.5rem;
    flex-shrink: 0;
    cursor: pointer;
}

.about-us-btn:hover {
    background: var(--orange-color);
    transition: 0.2s ease;
}

@media(max-width: 1100px) {
    #about-us {
        justify-content: space-around;
        padding: 5vw;
        margin: 0 0 0 0;
    }

    #about-us img {
        max-width: 40%;
    }

    .about-us-title {
        margin-bottom: 1rem;
        margin-left: 0;  
        font-size: 7vw;
        font-weight: 400;
    }

    .about-us-content {
        font-size: 2vw;
    }

    .about-us-btn {
        width: 20vw;
        font-size: 3.4vw;
    }
}

@media(max-width: 500px) {    
    #about-us {
        flex-wrap: wrap;
    }

    #about-us img {
        min-width: 80%;
        margin-top: 10px;
    }

    .about-us-title {
        font-size: 25px;      
    }

    .about-us-content {
        font-size: 8px;
    }

    .about-us-btn {
    width: 80px;
    font-size: 12px;
    height: 35px;
    }
}


/* GELOMBANG PEMBATAS */
.wave-top {
    width: 100%;
    height: auto;
    fill: var(--bg-color);
}

.wave-buttom {
    width: 100%;
    height: auto;
    fill: var(--bg-color);
}

/* MENU */
#menu {
    width: 100%;
    display: flex;
    background-color: #1b8b00;
    background-image: linear-gradient(314deg, #1b8b00 0%, #a2d240 74%);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 20px;
}

#menu ul li {
    list-style: none;
    background: #eee;
    padding: 12px 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 8px;
    
}

#menu ul li.active {
    background: var(--main-green-color);
    color: white;
}

#menu ul li:hover {
    background: var(--main-green-color);
    transition: 0.2s ease;
    color: white;
}

.product {
    padding: 60px;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    margin-top: 25px;
    justify-content: space-evenly;
    gap: 20px;
}

.product .itemBox {
    flex-basis: 300px;
    cursor: pointer;
    padding: 3px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.itemBox .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    background: var(--cultured);
}

.itemBox .product-name {
    color: var(--space-cadet);
    font-size: var(--fs-3);
    font-weight: 600;
    padding-left: 15px;
}

.product-price {
    background: var(--light-green-color);
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--space-cadet);
    font-size: 24px;
    font-weight: 500;
}

.itemBox .small {
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
}

.itemBox:hover img { transform: scale(1.025); }

.product .itemBox.hide {
    display: none;
}

.product .itemBox img {
    width: 100%;
    height: 210px;
    object-fit: cover;
    border-radius: 5px;
    transition: 0.75s ease;
}

.card-body {
    padding: 15px 20px 20px;
    text-align: center;
}

.card-tag {
    width: 60px;
    max-width: 100px;
    padding: 0.2rem 0.5rem;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #505f79;
    color: #fff;
}

.tag-menu {
    background: var(--red-orange-crayola);
}

.tag-menu2 {
    background: var(--green-color);
}

.tag-menu3 {
    background: var(--saffron);
}

.card-title {
    font-size: 20px;
    font-weight: 600;

}

.card-text {
    font-size: 18px;

}

/* BOOK TABLE */
#book-table-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 20px;
    background: url("../assets/background-content.jpg");
}

.left-content {
    padding: 20px 20px 20px 100px;
}

.section-title {
    margin-bottom: 2.3rem;
    max-width: 49.6rem;
    font-family: Righteous;
    font-size: min(max(30px, 9vw), 50px);
    font-weight: 400;
    line-height: 1.2425;
    text-transform: capitalize;
    color:#005a06;
    flex-shrink: 0;
}

.section-description {
    margin-bottom: 1.8rem;
    max-width: 80rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: justify;
    color: #000000;
    flex-shrink: 0;
}

.book-button {
    text-decoration: none;
    width: 14.4786rem;
    height: 3rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    color: #fffefe;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-green-color);
    border-radius: 0.5rem;
    flex-shrink: 0;
    cursor: pointer;
}

.book-button:hover {
    background-color: var(--orange-color);
    transition: 0.2s ease;
    
}

.table-image img {
    width: 48.5rem;
    left: 12.2rem;
    top: 0;
    background-size: 100% 100%;
    background-position: center;
    border-radius: 0.9rem;
}

@media (max-width: 1400px) {
    #book-table-section {
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }
    
    .left-content {
        padding-left: 4.5rem;
    }
    
    .section-title {
        margin-bottom: 1rem;
    }

    .section-description {
        margin-bottom: 1rem;
        font-size: 1.7vw;
    }

    .book-button {
        width: 15vw;
        height: 6vw;
        font-size: 2vw;
    }

    .table-image img {
        width: 45vw;
    }

}

@media (max-width: 768px) {
    #book-table-section {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    
    .left-content {
        padding-left: 0;
        margin-left: 4.5rem;
    }
    
    .section-title {
        margin-bottom: 1rem;
    }

    .section-description {
        margin-bottom: 1rem;
        font-size: 15px;
    }

    .book-button {
        width: 90px;
        height: 30px;
        font-size: 12px;
    }

    .table-image img {
        width: 250px;
    }
}

/* HOW TO ORDER */
.title-order{
    margin-top: 20px;
    margin-left: 4.5rem;
    font-family: Righteous;
    font-size: min(max(30px, 9vw), 50px);      
    color:#005a06
}

.order-section {
    display: flex;
    margin-top: 25px;
    margin-left: 55px;
    margin-right: 20px;
    padding: 15px;
}

.order-card {
    margin-right: 20px;
}

.order-icon {
    height: auto;
    width: 90px;
}

.order-title {
    margin-bottom: 0.2154rem;
    font-size: min(max(10px, 3.4vw), 40px); 
    font-weight: 600;
    line-height: 1.5;
    text-transform: capitalize;
    color: #005a06;
    white-space: nowrap;
}

.order-description {
    max-width: 32.7rem;
    font-size: min(max(9px, 3vw), 38px);
    font-weight: 400;
    margin-right: 5px;
    line-height: 1.1725;
    color: #000000;
}

@media (max-width: 500px) {
    .order-section {
        flex-wrap: wrap;
        margin: 0;
    }

    .title-order {
        margin-left: 0;
        text-align: center;
    }

    .order-card {
        text-align: center;
    }

    .order-icon {
        width: 25%;
        margin-top: 20px;
    }

    .order-title {
        font-size: 1.2rem;
    }

    .order-description {
        display: flex;
        flex-wrap: wrap;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1;
        color: #000000;
        margin-left: 5px;
        margin-right: 5px;
    }

    
}

@media (max-width: 300px) {
    .title-order {
        margin: 12px;
    }
    
    .order-section {
        padding-top: 0;
    }

    .order-icon {
        width: 40px;
    }

    .order-title {
        font-size: 1rem;  
    }
}

/* TESTIMONIALs CUSTOMERS */
.container-testimoni {
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;
}

.testimonials {
    padding: 100px 0;
}

.section-header {
    text-align: center;
    margin-bottom: 50px;
}

.section-header .title-testimoni {
    font-size: 35px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1.2;
}

.testimonials-item {
    background-color: hsl(213, 43%, 96%);
    padding: 30px;
    border-radius: 30px;
}

.testimonials-item .info {
    display: flex;
    align-items: center;
}

.testimonials-item img {
    max-width: 80px;
    border-radius: 50%;
    margin-right: 20px;
    vertical-align: middle;
}

.testimonials-item .name {
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 600;
    color: #000000;
    line-height: 1.2;
}

.testimonials-item .job {
    text-transform: capitalize;
    color: hsl(0, 0%, 40%);
}

.testimonials-item p {
    margin-top: 20px;
    color: hsl(0, 0%, 40%);
}

.testimonials-item .rating {
    margin-top: 15px;
    font-size: 14px;
    color: hsl(36, 88%, 66%);
}

@media(max-width: 400px) {
    .info {
        display: flex;
        flex-direction: column;
        align-items: center; 
        text-align: center;
    }
    
    .info img {
        max-width: 40%;
        margin-bottom: 10px ;
        margin-right: 0;
    }
    
    .testimonials-item .name {
        display: flex;
        flex-wrap: wrap;
        font-size: 1rem;
    }

    .testimonials-item p {
        font-size: 0.8rem;
        margin-top: 9px;
    }
}

    /* DISKON */
.discount-section {
    margin-bottom: 4.1rem;
    background: url("../assets/discount-background.jpg") center center / cover no-repeat;
}

.discount-container {
    width: 100%;
    height: 15.9rem;
}


.title-discount {
    text-align: center;
    font-size: 2rem;
    line-height: 1.2425;
    color: #0d0d0d;
    
}

.discount-content {
    flex: 1;
    padding: 20px;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-top: 20px;
}

.email-input {
    margin-top: 20px;
}

.email-input input[type="email"] {
    padding: 10px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.email-input button {
    padding: 10px 20px;
    background-color: var(--main-green-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.btn-discount {
    letter-spacing: 0.792rem;
    text-transform: capitalize;
    color: #fffefe;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
}

.email-input button:hover {
    background-color: var(--orange-color);
    transition: 0.2s ease;
}

@media(max-width: 768px) {
    .title-discount {
        font-size: 4vw;
    }
}

@media(max-width: 400px) {
    .title-discount {
        font-size: 15px;
    }
}

/* FOOTER*/
footer {
    background: url("../assets/footer_webp.webp");
    color: #fff;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 250px;
}

.footer-content .logo img {
    width: 220px;
    max-width: 100%;
    max-height: 210px;
}

.address, .contact {
    margin-right: 20px;
}

.social-icons a {
    margin-right: 10px;
}

.social-icons {
    display: flex;
}

.social-icons img {
    width: 30px; 
    height: auto;
}

@media(max-width: 768px) {
    .footer-content {
      margin: 0; 
      padding: 10px;
    }

    .footer-content .logo img {
        width: 100%; 
        height: auto;
    }

    .address, .contact {
        margin-right: 20px;
        font-size: 2vw;
    }
    
    .address p, .contact p {
        font-size: 2vw;
    }
    
    .social-icons a {
        font-size: 2vw;
    }
    
    .social-icons img {
        width: 3vw; 
        height: auto;
        margin: 0;
    }
}

@media(max-width: 400px) {
    .footer-content {
        flex-wrap: wrap;
        margin: 0;
        padding: 0 ;
    }

    .footer-content .logo img {
        width: 170px; 
        height: auto;
        margin: 0;
        padding: 0;

    }

    .address {
        margin: 0 0 15px 15px;
    }

    .logo, .contact, .social-icons {
        margin: 15px 0 15px 15px;
    }
    
    .address p, .contact p {
        font-size: 4.5vw;
    }
    
    .social-icons a {
        font-size: 2vw;
    }
    
    .social-icons img {
        width: 6vw; 
        height: auto;
        margin: 0;
    }
}

/* BOOKING PAGE */

.banner{
    margin-top: 140px;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("banner-img.jpg") center/cover no-repeat;
    background: url("../assets/background-content.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    padding-bottom: 20px;
}
.card-container{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 420px 420px;
}
.card-img{
    background: url("../assets/restaurant-table2.jpg") center/cover no-repeat;
}
.banner h2{
    font-family: Righteous;
    margin: 20px 15px 30px 15px;
    color: #005a06;
    text-align: center;
}
.card-content{
    background: #fff;
    height: 530px;
}
.card-content h3{
    margin-left: 40px;
    text-align: left;
    color: var(--main-green-color);
    padding: 25px 0 10px 0;
    font-size: 26px;
    font-weight: 600;
}

.card-content h4 {
    color: var(--light-green-color);
    padding: 0 40px;
    font-size: 20px;
}

.form-row{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.booking-form  select, input, textarea{
    width: 100%;
    margin: 15px 12px;
    padding: 5px;
    font-size: 15px;
    outline: none;
    border: none;
    border-bottom: 1px solid #eee;
    font-weight: 300;
}
form input[type = text], form input[type = number], form input::placeholder, select, textarea{
    color: #9a9a9a;
}
form input[type = submit]{
    color: #fff;
    background: var(--main-green-color);
    padding: 12px 0;
    border-radius: 4px;
    cursor: pointer;
}
form input[type = submit]:hover{
    background-color: var(--orange-color);
    transition: 0.2s ease;
}
@media(max-width: 768px){
    .card-container{
        grid-template-columns: 100%;
        width: 100vw;
    }
    .card-img{
        height: 330px;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 5px 20px 5px;
    margin-bottom: 120px;
  }

  th, td {
    border: 1px solid #ddd;
    padding: px;
    text-align: center;
  }

  th {
    background-color: #4caf50;
    color: white;
    font-size: 12px;
  }

  tr:hover {
    background-color: #f5f5f5;
  }

  .filter-container {
    margin: 30px;
    margin-top: 120px;
  }

  .filter-data {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .filter-data select {
    width: 15%;
    margin: 15px 12px;
    padding: 5px;
    font-size: 15px;
    outline: none;
    border: none;
    border-bottom: 1px solid #eee;
    font-weight: 300;
  }

  .filter-container h2 {
    text-align: center;
  }

  .filter-container input {
    width: 30%;
  }

@media(max-width: 768px) {    
    .table {
        margin: 10px 10px 20px 10px;
    }
    
    th {
        font-size: 1.5vw;
      }
    
}

/* OUR TEAM */
.img {
    max-width: 100%;
}

.team-title {
    color: var(--main-green-color);
    font-family: Righteous;
    font-size: 35px;
    margin: 40px;
    text-align: center;
}

.team-master {
    color: var(--light-green-color);
    margin: 0 0 40px 0;
    padding-bottom: 30px;
    font-family: Righteous;
    font-size: 50px;
    text-align: center;
}

.team-section {
    width: 100%;
    height: 50vh;
    margin-top: 95px;
    background: url("../assets/restaurant-table.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
}

.section-title-team {
    font-family: Righteous;
    font-size: 32px;
    color: white;
    margin-bottom: 10px;
}

.team-container {
    background: url("../assets/background-content.jpg");
    margin: 20px;
}

.profile-container {
    display: flex;
    gap: 20px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.profile-card{
    position: relative;
    width: 280px;
    margin: 0 auto;
    padding: 40px 30px 30px;
    background:#fff;
    border: 5px solid rgba(255,255,255,.7);
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: all 200ms ease;
}
.mask-shadow{
    z-index: -1 !important;
    width: 95%;
    height: 12px;
    background: var(--main-green-color);
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    border-radius: 4px;
    opacity: 0;
    transition: all 400ms ease-in;
  }
  .profile-card:hover{
    box-shadow: 0px 30px 60px -5px rgba(55,55,71,0.3);
    transform: translate3d(0,-5px,0);
    .mask-shadow{
      opacity: 1;
      box-shadow: 0px 30px 60px -5px rgba(55,55,71,0.3);
      position: absolute;
    }
  }
  .profile-card header{
    display: block;
    margin-bottom: 10px;
  }

  .profile-card header a{
    width: 150px;
    height: 150px;
    display: block;
    border-radius: 100%;
    margin: -120px auto 0;
    box-shadow: 0 0 0 5px #82b541;
  }
  .profile-card header a img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
  
  .profile-card:hover header a, .profile-card header a:hover{
    animation: bounceOut .4s linear; 
    -webkit-animation: bounceOut .4s linear;
  }
  .profile-card header h1{
    font-size: 16px;
    color:#444;
    text-transform: capitalize;
    margin-bottom: 5px;
    margin-top: 15px;
  }
  .profile-card header h2{
    font-size: 14px;
    color:#acacac;
    text-transform: uppercase;
    margin: 0;
  }
  /*content*/
  .profile-bio{
    font-size: 14px;
    color:#a5a5a5;
    line-height: 1.7;
    font-style: italic;
    margin-bottom: 30px;
  }
  /*link social*/
  .profile-social-links{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .profile-social-links li{
    display: inline-block;
    /* margin: 0 10px; */
  }
  .profile-social-links li a{
    width: 55px;
    height: 55px;
    display: block;
    background:#f1f1f1;
    border-radius: 50%;
    -webkit-transition: all 2.75s cubic-bezier(0,.83,.17,1);
    -moz-transition: all 2.75s cubic-bezier(0,.83,.17,1);
    -o-transition: all 2.75s cubic-bezier(0,.83,.17,1);
    transition: all 2.75s cubic-bezier(0,.83,.17,1);
    transform-style: preserve-3d;
  }
  .profile-social-links li a img{
    width: 35px;
    height: 35px;
    margin: 10px auto 0;
  }
  .profile-social-links li a:hover{
    background:#ddd;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
  }
  /*animation hover effect*/
  @-webkit-keyframes bounceOut {
    0% {
      box-shadow: 0 0 0 4px #82b541;
      opacity: 1;
    }
    25% {
      box-shadow: 0 0 0 1px #82b541;
      opacity: 1;
    }
    50% {
      box-shadow: 0 0 0 7px #82b541;
      opacity: 1;
    }
    75% {
      box-shadow: 0 0 0 4px #82b541;
      opacity: 1;
    }
    100% {
      box-shadow: 0 0 0 5px #82b541;
      opacity: 1;
    }
  }
  @keyframes bounceOut {
    0% {
      box-shadow: 0 0 0 6px #82b541;
      opacity: 1;
    }
    25% {
      box-shadow: 0 0 0 2px #82b541;
      opacity: 1;
    }
    50% {
      box-shadow: 0 0 0 9px #82b541;
      opacity: 1;
    }
    75% {
      box-shadow: 0 0 0 3px #82b541;
      opacity: 1;
    }
    100% {
      box-shadow: 0 0 0 5px #82b541;
      opacity: 1;
    }
  }

@media(max-width:768px) {
    .profile-container {
        display: flex;
        gap: 20px;
        margin-top: 14vw;
        margin-bottom: 50px;
        justify-content: space-evenly;
    }
    
    .profile-card{
        position: relative;
        width: 26vw;
        margin: 0;
        padding: 0;
        background:#fff;
        border: 5px solid rgba(255,255,255,.7);
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        transition: all 200ms ease;
    }

    .profile-card header  a{
        width: 20vw;
        height: 20vw;
        display: block;
        border-radius: 100%;
        margin: -10vw auto 0;
        box-shadow: 0 0 0 5px #82b541;
    }

    .profile-card header a .avatar {
        width: 20vw;
        height: 20vw;
    }

    .profile-card header h1{
        font-size: 2.8vw;
        color:#444;
        text-transform: capitalize;
        margin-left: 10px;
        margin-right: 10px;
      }
    
      .profile-card header h2{
        font-size: 2.3vw;
        color:#acacac;
        text-transform: uppercase;
        margin: 0;
      }

      .profile-social-links li a{
        width: 6.8vw;
        height: 6.8vw;
        display: block;
        background:#f1f1f1;
        border-radius: 50%;
        margin-bottom: 20px;
      }

      .profile-social-links li a img{
        width: 3.9vw;
        height: 3.9vw;
        margin: 10px auto 0;
      }
}

@media(max-width:400px) {
    .profile-container {
        display: grid;
        gap: 20px;
        margin-bottom: 50px;
    }
    
    .profile-card{
        position: relative;
        width: 67vw;
        margin: 0 0 50px;
        padding: 0;
        background:#fff;
        border: 5px solid rgba(255,255,255,.7);
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        transition: all 200ms ease;
    }
    .mask-shadow{
        z-index: -1 !important;
        width: 95%;
        height: 12px;
        background: var(--main-green-color);
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        position: absolute;
        border-radius: 4px;
        opacity: 0;
        transition: all 400ms ease-in;
    }

    .profile-card header a{
        width: 90px;
        height: 90px;
        display: block;
        border-radius: 100%;
        margin: -50px auto 0;
        box-shadow: 0 0 0 5px #82b541;
    }

    .profile-card header a .avatar {
        width: 90px;
        height: 90px;
    }

    .profile-card header h1{
        font-size: 14px;
        color:#444;
        text-transform: capitalize;
        margin-left: 10px;
        margin-right: 10px;
      }
    
      .profile-card header h2{
        font-size: 11px;
        color:#acacac;
        text-transform: uppercase;
        margin: 0;
      }

      .profile-social-links li a{
        width: 40px;
        height: 40px;
        display: block;
        background:#f1f1f1;
        border-radius: 50%;
        -webkit-transition: all 2.75s cubic-bezier(0,.83,.17,1);
        -moz-transition: all 2.75s cubic-bezier(0,.83,.17,1);
        -o-transition: all 2.75s cubic-bezier(0,.83,.17,1);
        transition: all 2.75s cubic-bezier(0,.83,.17,1);
        transform-style: preserve-3d;
      }

      .profile-social-links li a img{
        width: 20px;
        height: 20px;
        margin: 10px auto ;
      }
}